aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
check-wheel-contents==0.3.4
chicken==0.1.0
click==8.1.3
colorama==0.4.4
curlify==2.2.1
distlib==0.3.4
egg==0.2.0
facebook-business==13.0.0
filelock==3.6.0
findspark==2.0.1
frozenlist==1.3.0
greenlet==1.1.2
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.2
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pipenv==2022.5.2
platformdirs==2.5.2
py4j==0.10.9.5
pycountry==22.3.5
pydantic==1.9.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyspark==3.3.0
python-dateutil==2.8.2
pytz==2022.1
redshift-module @ file:///C:/Users/james/Downloads/redshift_module-0.1-py3-none-any.whl
requests==2.27.1
six==1.16.0
spark==0.2.1
SQLAlchemy==1.4.35
tomli==2.0.1
typing_extensions==4.2.0
Unidecode==1.3.4
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
wheel-filename==1.4.0
yarl==1.7.2
